---  

- name: some interesting things
  shell: cat /etc/*-release | grep LIKE 
  register: output_of_cmd
    

- name: print ID_LIKE from *-release
  debug: 
    msg: "Ñontent of *-release - {{ output_of_cmd.stdout_lines }}"

- name: print debian like
  debug:
    msg: "Debian like system"
  set_fact:
    debain_like: 1
    rpm_like: 0 
  when: "'debian' in output_of_cmd.stdout"

- name: print fedora like
  debug:
    msg: "RPM like system"
  set_fact:
    debain_like: 0
    rpm_like: 1
  when: "'fedora' in output_of_cmd.stdout"

 - name: conditional
